<div class="animated fadeIn row">

  <div class="col-md-6">
    <form [formGroup]="empmachineForm" (ngSubmit)="submitForm()" class="form-horizontal" novalidate>
      <div class="card">
        <div class="card-header">
          <strong>Add</strong> EmpMachine
        </div>
        <div class="card-body">
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.org_id)">
            <label class="col-md-4 col-form-label" for="org_id">Organization</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="org_id" (change)="getMachines($event.target.value);getEmployees($event.target.value)">
                <option value="">Select Organization</option>
                <option *ngFor=" let item of orgs | async" [value]="item.id">{{ item.name }}</option>
              </select>
              <validation-message [control]="empmachineForm.controls.org_id"></validation-message>
            </div>
          </div>
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.emp_id)">
            <label class="col-md-4 col-form-label" for="status">Employee</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="emp_id">
                <option value="">Select Employee</option>
                <option *ngFor=" let item of emps | async" [value]="item.id">{{ item.name}}</option>
              </select>
              <validation-message [control]="empmachineForm.controls.emp_id"></validation-message>
            </div>
          </div>
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.machine_id)">
            <label class="col-md-4 col-form-label" for="machine_id">Machine</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="machine_id" >
                <option value="">Select Machine</option>
                <option *ngFor=" let item of machines | async" [value]="item.id">{{ item.name}}</option>
              </select>
              <validation-message [control]="empmachineForm.controls.machine_id"></validation-message>
            </div>
          </div>
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.status)">
            <label class="col-md-4 col-form-label" for="status">Machine User Id</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="ID from Machine" formControlName="machine_userid">
              <validation-message [control]="empmachineForm.controls.machine_userid"></validation-message>
            </div>
          </div>
         
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.status)">
            <label class="col-md-4 col-form-label" for="status">Status</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="status">
                <option value="">Select Status</option>
                <option *ngFor=" let item of Chstatus" [value]="item.value">{{ item.label}}</option>
              </select>
              <validation-message [control]="empmachineForm.controls.status"></validation-message>
            </div>
          </div>
          <div class="form-group row" [ngClass]="vs.getGroupClass(empmachineForm.controls.remarks)">
            <label class="col-md-4 col-form-label" for="remarks">Remarks</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Remarks" formControlName="remarks">
              <validation-message [control]="empmachineForm.controls.remarks"></validation-message>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()">
            <i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </form>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> EmpMachine List
      </div>
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" placeholder="Search" name="srch-term" type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value"
            (keyup.enter)="search()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="search()">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <a href="javascript:void(0)" (click)="resetFilters()">
            <i class="fa fa-refresh" title="Reset Filters"></i>
          </a>
        </div>

        <hr/>

        <table class="table table-bordered table-striped table-sm tbl-sortable">
          <thead>
            <tr>
              <th (click)="sort('id')">Id
                <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }"
                  aria-hidden="true"> </i>
              </th>
              <th (click)="sort('org_id')">Organization
                <i class="fa" [ngClass]="{'fa-sort': column != 'org_id', 'fa-sort-asc': (column == 'org_id' && isDesc), 'fa-sort-desc': (column == 'org_id' && !isDesc) }"
                  aria-hidden="true"> </i>
              </th>
              <th (click)="sort('machine_id')">Machine
                <i class="fa" [ngClass]="{'fa-sort': column != 'machine_id', 'fa-sort-asc': (column == 'machine_id' && isDesc), 'fa-sort-desc': (column == 'machine_id' && !isDesc) }"
                  aria-hidden="true"> </i>
              </th>
              <th>Employee</th>
              <th>Machine User Id</th>
              <th> Status </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let item of lists ">
              <td>{{item.id}}</td>
              <td>{{item.oname}}</td>
              <td>{{item.mname}}</td>
              <td>{{item.firstname +' '+ item.midname +' '+ item.lastname}}</td>
              <td>{{item.machine_userid}}</td>
              <td *ngIf="item.status==1"><span class="badge badge-success">Active</span></td>
                <td *ngIf="item.status==0"><span class="badge badge-info">Inactive</span></td>
                <td *ngIf="item.status==2"><span class="badge badge-danger">Expired</span></td>
              <td>
                <a (click)="getUpdateItem(item.id)" href="javascript:void(0)">
                  <i class="fa fa-edit alert-danger"></i>
                </a>
                <a href="javascript:void(0)" (click)="deleteItem(item.id)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 form-group">
            <page-helper [totalItems]="pagination.total" [currentPage]="pagination.currentPage" [perPage]="pagination.perPage" [pagesToShow]="perPages"
              (update)="changePerPage($event)"> </page-helper>
          </div>
          <div class="col-md-6">
            <ngb-pagination [size]="sm" [collectionSize]="pagination.total" [(page)]="pagination.currentPage" [boundaryLinks]="true"
              [pageSize]="pagination.perPage" (pageChange)="getList()"></ngb-pagination>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>