<style>
    /*.cover-page img{
    width: 100%;
    height: 100%;
    }
    .profile-logo{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    border: solid thin #d22929;
    margin-top: -200px;
    z-index: 999999999;
    }
    .profile-logo img{
    border:thin solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }
    .profile-logo span a{
    margin-top: -39px;
    position: absolute;
    margin-left: -25px;

    }
    .change-cover{
    margin-top: -39px;
    margin-top: -35px;
    position: relative;
    margin-right: 10px;

    }*/
</style>

<div class="animated fadeIn row">
    <div class="col-md-12">
        <ngb-tabset>
            <ngb-tab title="Profile">
                <ng-template ngbTabContent>

                    <div class="card">
                        <div class="card-header">
                            Your Profile
                            <span class="pull-right" style="cursor: pointer">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </div>
                        <div class="card-body col-md-12 ">
                            <ul class="list-group">
                                <table class="table table-bordered">
                                     <tr>
                                        <td>Name</td>
                                        <td>{{profileData.firstname}} {{profileData.midname}} {{profileData.lastname}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Email</td>
                                        <td>{{profileData.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>{{profileData.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{profileData.address}}</td>
                                    </tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Change Password">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-header">
                            Change Password
                        </div>
                        <div class="card-block">
                            <form class="form-horizontal col-md-6" [formGroup]="cpForm" (ngSubmit)="submitform()">
                                <div class="form-group row" [ngClass]="vs.getGroupClass(cpForm.controls.oldpassword)">
                                    <label class="col-md-4 col-form-label" for="password">Old Password</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" placeholder="Old Password" formControlName="oldpassword">
                                        <validation-message [control]="cpForm.controls.oldpassword"></validation-message>
                                    </div>
                                </div>
                                <div class="form-group row" [ngClass]="vs.getGroupClass(cpForm.controls.password)">
                                    <label class="col-md-4 col-form-label" for="password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                                        <validation-message [control]="cpForm.controls.password"></validation-message>
                                    </div>
                                </div>
                                <div class="form-group row" [ngClass]="vs.getGroupClass(cpForm.controls.password_confirmation)">
                                    <label class="col-md-4 col-form-label" for="password_confirmation">Confirm Password</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="password_confirmation">
                                        <validation-message [control]="cpForm.controls.password_confirmation"></validation-message>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-success" type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>