<div class="animated fadeIn row center">
    
    
 <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Role List
        </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" placeholder="Search" name="srch-term" type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value" (keyup.enter)="search()">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="search()"><i class="fa fa-search"></i></button>
                </span>
                <a href="javascript:void(0)" (click)="resetFilters()"><i class="fa fa-refresh" title="Reset Filters"></i></a>
            </div>
            
            <hr/>
            
          <table class="table table-bordered table-striped table-sm tbl-sortable">
            <thead>
                <tr><th>#</th><th>Name<i class="fa" aria-hidden="true"> </i></th><th>Post<i class="fa"  aria-hidden="true"> </i></th><th>Date from<i class="fa" aria-hidden="true"> </i></th><th>Date To</th><th>Leave Type</th><th colspan="3">Action</th>
</tr>
            </thead>
            <tbody>
              <tr *ngFor=" let item of lists; let i = index; "><td>{{i+1}}</td><td></td><td></td><td>{{item.date_from}}</td><td>{{item.date_to}}</td><td></td><td><a href="javascript:void(0)"><i class="fa fa-edit alert-danger"></i> View</a></td><td><a href="javascript:void(0)"><i class="fa fa-check success" aria-hidden="true" style="color:green;"></i> Approve</a></td><td><a href="javascript:void(0)"><i class="fa fa-remove" style="color:darkred;"></i> Reject</a></td></tr>
            </tbody>
          </table>
            <div class="row">
                <div class="col-md-6 form-group">
                  <!--   <page-helper [totalItems]= "pagination.total"
                        [currentPage]="pagination.currentPage"
                        [perPage]="pagination.perPage"
                        [pagesToShow]="perPages"
                        (update)= "changePerPage($event)" > </page-helper> -->
                </div>
                <div class="col-md-6">
                  <!--   <ngb-pagination [size]="sm" [collectionSize]="pagination.total" [(page)]="pagination.currentPage" [boundaryLinks]="true" [pageSize]="pagination.perPage" (pageChange)="getList()"></ngb-pagination> -->
                </div>
                
            </div>
          
        </div>
      </div>
    </div>