<div class="animated fadeIn row">
    
    <div class="col-md-6">
        <form [formGroup]="oneForm" (ngSubmit)="submitForm()" class="form-horizontal" novalidate>
        <div class="card">
        <div class="card-header">
          <strong>Add</strong> One
        </div>
        <div class="card-body">
            <div class="form-group row" [ngClass]="vs.getGroupClass(oneForm.controls.bhim)">
              <label class="col-md-4 col-form-label" for="bhim">Bhim</label>
              <div class="col-md-8"><input type="text" class="form-control" placeholder="Bhim" formControlName="bhim">
                <validation-message [control]="oneForm.controls.bhim"></validation-message>
              </div>
            </div><div class="form-group row" [ngClass]="vs.getGroupClass(oneForm.controls.trust)">
              <label class="col-md-4 col-form-label" for="trust">Trust</label>
              <div class="col-md-8"><select class="form-control" formControlName="trust">
                      <option value="">Select Trust</option>
                      <option *ngFor=" let item of Chtrust" [ngValue]="item">{{ item}}</option>
                  </select>
                <validation-message [control]="oneForm.controls.trust"></validation-message>
              </div>
            </div><div class="form-group row" [ngClass]="vs.getGroupClass(oneForm.controls.email)">
              <label class="col-md-4 col-form-label" for="email">Email</label>
              <div class="col-md-8"><input type="text" class="form-control" placeholder="Email" formControlName="email">
                <validation-message [control]="oneForm.controls.email"></validation-message>
              </div>
            </div>
        </div>
            
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </form>
    </div>
    
    
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> One List
        </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" placeholder="Search" name="srch-term" type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value" (keyup.enter)="search()">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="search()"><i class="fa fa-search"></i></button>
                </span>
                <a href="javascript:void(0)" (click)="resetFilters()"><i class="fa fa-refresh" title="Reset Filters"></i></a>
            </div>
            
            <hr/>
            
          <table class="table table-bordered table-striped table-sm tbl-sortable">
            <thead>
                <tr><th (click)="sort('bhim')">Bhim<i class="fa" [ngClass]="{'fa-sort': column != 'bhim', 'fa-sort-asc': (column == 'bhim' && isDesc), 'fa-sort-desc': (column == 'bhim' && !isDesc) }" aria-hidden="true"> </i></th><th (click)="sort('trust')">Trust<i class="fa" [ngClass]="{'fa-sort': column != 'trust', 'fa-sort-asc': (column == 'trust' && isDesc), 'fa-sort-desc': (column == 'trust' && !isDesc) }" aria-hidden="true"> </i></th><th (click)="sort('email')">Email<i class="fa" [ngClass]="{'fa-sort': column != 'email', 'fa-sort-asc': (column == 'email' && isDesc), 'fa-sort-desc': (column == 'email' && !isDesc) }" aria-hidden="true"> </i></th><th> Action </th>
</tr>
            </thead>
            <tbody>
              <tr *ngFor=" let item of lists "><td>{{item.bhim}}</td><td>{{item.trust}}</td><td>{{item.email}}</td><td><a (click)="getUpdateItem(item.id)" href="javascript:void(0)"><i class="fa fa-edit alert-danger"></i></a><a href="javascript:void(0)" (click)="deleteItem(item.id)" ><i class="fa fa-trash"></i></a></td></tr>
            </tbody>
          </table>
            <div class="row">
                <div class="col-md-6 form-group">
                    <page-helper [totalItems]= "pagination.total"
                        [currentPage]="pagination.currentPage"
                        [perPage]="pagination.perPage"
                        [pagesToShow]="perPages"
                        (update)= "changePerPage($event)" > </page-helper>
                </div>
                <div class="col-md-6">
                    <ngb-pagination [size]="sm" [collectionSize]="pagination.total" [(page)]="pagination.currentPage" [boundaryLinks]="true" [pageSize]="pagination.perPage" (pageChange)="getList()"></ngb-pagination>
                </div>
                
            </div>
          
        </div>
      </div>
    </div>
    
</div>