<style>
  .f-24{
    font-size: 24px;
  }
</style>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Today's Summary</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="callout callout-success">
            <small class="text-muted">Check in time</small>
            <br>
            <strong class="h4">10:02</strong>
          </div>
        </div>
        <div class="col-md-6">
          <div class="callout callout-danger">
            <small class="text-muted">Check out time</small>
            <br>
            <strong class="h4">17:05</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          This Week
        </div>
        <div class="card-body">
          <table class="table">
            <tr><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
            <tr>
              <td>
                <span class="callout callout-success">10:00</span> 
                <br/> 
                <span class="callout callout-danger">05:00</span>
              </td>
              <td>
                  <span class="callout callout-info">Leave</span> 
              </td>
              <td>
                  <span class="callout callout-success">10:00</span> 
                  <br/> 
                  <span class="callout callout-danger">05:00</span>
              </td>
              <td>
                  <span class="callout callout-success">10:00</span> 
                  <br/> 
                  <span class="callout callout-danger">05:00</span>
              </td>
              <td>
                  <span class="callout callout-success">10:00</span> 
                  <br/> 
                  <span class="callout callout-danger">05:00</span>
              </td>
              <td>
                <span class="callout callout-success">10:00</span> 
                <br/> 
                <span class="callout callout-danger">05:00</span></td>
              <td>
                <span class="callout callout-success">10:00</span> 
                <br/> 
                <span class="callout callout-danger">05:00</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Attendence Summary
          </div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td>Emp1  [<small class="text-muted">Post1</small>]</td>
                <td><span class="badge badge-success f-24">P</span></td>
              </tr>
              <tr>
                <td>Emp2 [<small class="text-muted">Post2</small>]</td>
                <td><span class="badge badge-danger f-24">A</span></td>
              </tr>
              <tr>
                  <td>Emp3 [<small class="text-muted">Post3</small>]</td>
                  <td><span class="badge badge-info f-24">L</span></td>
                </tr>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
</div>