<div class="modal-header">
    <h4 class="modal-title">Manage Permissions</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>Assign Roles <strong>({{name}})</strong></ng-template>
            <ng-template ngbTabContent>
                <form [formGroup] = "usrMgmtForm" (ngSubmit)="saveUserRoles()" method="post">
                    <input type="hidden" formControlName="user_id">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of allRoles">
                            <div class="row">
                                <div class="col-10">
                                    <h6>{{item.display_name}} <strong>({{item.name}})</strong></h6>
                                    <span class="text-muted">{{item.description}}</span>
                                </div>
                                <div class="col-2">
                                    <span class="form-control-sm">
                                        <input type="checkbox" id="{{item.name}}" formControlName="{{item.id}}" >
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix">
                        <input type="submit" value="Save" class="form-control btn-success">
                    </div>

                </form>

            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Reset Password</ng-template>
            <ng-template ngbTabContent>
                <div class="col-12">
                    <form [formGroup]="resetPass" (ngSubmit)="changePass()" class="form-horizontal" novalidate>
                        <div class="row">
                            <div class="card-body">
                                <input type="hidden" formControlName="user_id">
                                <div class="form-group row" [ngClass]="vs.getGroupClass(resetPass.controls.password)">
                                    <label class="col-md-4 col-form-label" for="display_name">Password</label>
                                    <div class="col-md-8"><input type="password" class="form-control" placeholder="Password" formControlName="password">
                                        <validation-message [control]="resetPass.controls.password"></validation-message>
                                    </div>
                                </div><div class="form-group row" [ngClass]="vs.getGroupClass(resetPass.controls.password_confirmation)">
                                    <label class="col-md-4 col-form-label" for="description">Confirm password</label>
                                    <div class="col-md-8"><input type="password" class="form-control" placeholder="Confirm password" formControlName="password_confirmation">
                                        <validation-message [control]="resetPass.controls.password_confirmation"></validation-message>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>&nbsp;&nbsp;
                                    <button type="reset" (click)="resetForm()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>